<launch>
  <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch" />

  <node pkg="tf" type="static_transform_publisher" name="base_to_mid360" args="0.3 0 0.15 0 0 0 base_link livox_frame 100" />

  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="cloud_to_scan">
    <remap from="cloud_in" to="/livox/lidar"/>
    <remap from="scan" to="/scan"/>

    <rosparam>
        target_frame: livox_frame 
        transform_tolerance: 0.3
        min_height: 0.05 
        max_height: 0.25 
        angle_min: -1.55 
        angle_max: 1.55 
        angle_increment: 0.0174 
        scan_time: 0.1
        range_min: 0.15 # 避开 Mid-360 的 0.1m 盲区 
        range_max: 5.0 
        use_inf: true
    </rosparam>
  </node>
  
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find livox_ros_driver2)/rviz/nomap.rviz" />
</launch>
